{% extends 'PortfolioDatabase/base.html' %}

{% block body %}
    <div class="container">
        {% if hobby %}
        <div class="row">
            <div class="col-md-6">
                <img src="{{ hobby.hobby_image }}" class="card card-deck border m-1" height="300px" width="300px"/>
            </div>
            <div class="col-md-5 m-1">
                <h1>{{ hobby.hobby_name }}</h1>
                <h2>{{ hobby.hobby_desc }}</h2>
                <a href="{% url 'PortfolioDatabase:deleteHobby' hobby.id %}">Delete</a>
            </div>
        </div>
        {% elif portfolio %}
        <div class="row">
            <div class="col-md-6 m-1">
                <img src="{{ portfolio.project_image }}" class="card card-deck border" height="300px" width="300px"/>
            </div>
            <div class="col-md-5 m-1">
                <h1>{{ portfolio.project_name }}</h1>
                <h2>{{ portfolio.project_desc }}</h2>
                <a href="{% url 'PortfolioDatabase:deletePortfolio' portfolio.id %}">Delete</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}