{% extends 'PortfolioDatabase/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    {% for hobby in hobby_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card card-deck border m-1" height="150px" width="250px" src="{{ hobby.hobby_image }}"/>
            </div>
            <div class="col-md-4 m-2">
                <h3>{{ hobby.hobby_name }}</h3>
                <h6>{{ hobby.hobby_desc }}</h6>
            </div>
            <div class="col-md-2 m-2">
                {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'PortfolioDatabase:createHobby' %}" class="btn btn-success">Add</a>
                <a href="{% url 'PortfolioDatabase:hobbyDetail' hobby.id %}" class="btn btn-info">Details</a>
                <a href="{% url 'PortfolioDatabase:updateHobby' hobby.id %}" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% endblock %}
</body>
</html>