{% extends 'PortfolioDatabase/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <h1 class="text-center"><strong>Welcome to my Django portfolio!</strong></h1>
        <h3 class="text-center">My name is Kevin Butcher!</h3>
        <h5 class="text-center">I am a senior at Weber State University. I am currently employed with Intermountain Health as a 
            Central Processing Senior Tech.</h5>
        <div class="row d-flex justify-content-center">
            <div class="">
                <img class="card card-deck border m-1" height="500px" src="{% static 'PortfolioDatabase/Business_Shot_2024.jpg' %}"/>
            </div>
            {% comment %} <div class="col-md-3 m-2">
                <h2>{{ intro }}</h2>
            </div> {% endcomment %}
        </div>
    {% endblock %}
</body>
</html>