{% extends 'PortfolioDatabase/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for project in portfolio_list %}
                <div class="col mb-4 mt-2">
                    <div class="card bg-secondary h-100">
                        <a href="{% url 'PortfolioDatabase:portfolioDetail' project.id %}">
                            <img class="card-img-top img-fluid" src="{{ project.project_image }}" alt="{{ project.project_name }}" style="aspect-ratio: 16/9;">
                        </a>
                        <div class="card-body bg-secondary text-light d-flex flex-column">
                            <a href="{% url 'PortfolioDatabase:portfolioDetail' project.id %}" class="text-light">
                                <h5 class="card-title">{{ project.project_name }}</h5></a>
                            <div class="mt-auto">
                                {% if user.is_authenticated and user.is_superuser %}
                                    <a href="{% url 'PortfolioDatabase:updatePortfolio' project.id %}" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{% url 'PortfolioDatabase:deletePortfolio' project.id %}" class="btn btn-danger btn-sm">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer bg-dark">
                            <div>
                            {% if project.tags.all %}
                            {% for tag in project.tags.all %}
                                <span class="badge badge-pill badge-warning mx-1">{{ tag.name }}</span>
                            {% endfor %}
                            {% else %}
                                <span class="badge badge-pill badge-warning">No tags</span>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'PortfolioDatabase:createPortfolio' %}" class="btn btn-success float-right">Add</a>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>